@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700;800;900&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:hover {
  text-decoration: none;
}

button {
  border: none;
}

header,
section {
  overflow-x: initial;
}

:root {
  --Montserrat: "Montserrat", sans-serif;
  --green-poussee: #59CB59;
  --black-poussee: #201E1E;
  --light-pink: #fd6699;
  --yellow-gil: #ffc10e;
  --purple-gil: #4d366d;
  --dark-blue: #061a3b;
  --light-black: #727376;
  --bggradient: linear-gradient(to bottom, #fe053f, #d31c30);
  --gradientblue: linear-gradient(to right, #345f96, #35aeff);
  --light-gray: rgba(255, 255, 255, 0.877);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif !important;
  font-size: 16px;
  font-weight: 600;
  background-color: #fff;
}

::selection {
  color: #fff;
  background: var(--green-poussee);
}

.main-header {
  background: url("/assets/img/banner-home.png") no-repeat bottom;
  background-size: cover;
  height: 100vh;
  padding-top: 1%;
  overflow: hidden;
}

.bg-voce {
  background: url("../img/para-voce/bg-voce.png") no-repeat center;
  background-size: cover;
  height: 100vh;
}

.bg-negocio {
  background: url("../img/para-negocio/bg-negocio.png") no-repeat center;
  background-size: cover;
  height: 100vh;
}

.bg-produtos {
  background: #acacac;
}

.menu {
  background-color: transparent;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 0px;
}

.menu ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.main-header .menu ul a {
  text-decoration: none;
  font-weight: 700;
  color: #fff;
  transition: 0.4s all;
  padding-right: 10px;
  padding-bottom: 6px;
}

.main-header .menu ul button a {
  color: #fff;
}

.main-header .menu ul button a:hover {
  color: #fff;
}

.main-header .menu ul a:hover {
  color: var(--green-poussee);
}

.main-header .menu .active {
  color: var(--purple-gil);
  border-bottom: 2px solid #59CB59;
  border-radius: 3px;
}

.main-header .menu ul a:hover img {
  transform: scale(1.1);
}



.diagnostico a {
  background: var(--light-pink);
  font-weight: 600;
  color: #fff;
  padding: 10px 15px;
  border-radius: 50px;
  transition: 0.2s all;
}

.diagnostico img {
  padding: 0 5px;
  vertical-align: top;
}

.diagnostico a:hover {
  color: #fff  !important;
  text-decoration: none;
  background: #ff94b8;
}

@media (max-width: 768px) {
  .main-header {
    background: url("/assets/img/banner-home.png") no-repeat center;
    background-size: cover;
    background-color: #b1b1b1;
    background-blend-mode: darken;
    height: 100vh;
    padding-top: 5vmin;
    color: #fff;
  }

  .bg-voce {
    background: url("../img/para-voce/bg-voce.png") no-repeat center;
    background-size: cover;
    height: 100vh;
  }

  .bg-negocio {
    background: url("../img/para-negocio/bg-negocio.png") no-repeat center;
    background-size: cover;
    height: 100vh;
  }

  .main-header video {
    display: none;
  }


  .header-home .header-text p {
    width: 100% !important;
  }
}

.header-home h1 {
  font-weight: 700;
  margin: 0px 0px 32px;
}

.header-home .header-text {
  text-align: left;
}

hr {
	border: 0;
  border-radius: 20%;
	border-top: 4px solid #59CB59 !important;
  width: 50px;
  display: inline-block;
}

.subtitle {
  text-transform: uppercase;
  font-weight: 700!important;
  
}

.btn-red {
  background: var(--bggradient);
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  padding: 6px 25px;
  border-radius: 50px;
  transition: 0.2s all;
}

.btn-red i {
  margin-left: 12px;
}

.btn-red:hover {
  background: var(--purple-gil);
  color: #fff;
  cursor: pointer;
  letter-spacing: 0.02rem;
  -webkit-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.17);
  box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.17);
}

.btn-red a {
  color: #fff;
}

.btn-red a:hover {
  color: #fff;
  text-decoration: none;
}

.btn-blue {
  background: var(--purple-gil);
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  padding: 6px 25px;
  border-radius: 50px;
  transition: 0.2s all;
}

.btn-blue i {
  margin-left: 12px;
}

.btn-blue:hover {
  background: var(--gradientblue);
  color: #fff;
  cursor: pointer;
  letter-spacing: 0.02rem;
  -webkit-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.17);
  box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.17);
}

.btn-blue a {
  color: #fff;
}

.btn-blue a:hover {
  color: #fff;
  text-decoration: none;
}

.btn-green {
  color: var(--green-poussee);
  font-weight: 700;
  text-decoration: none;
    line-height: 2.15;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: 0px 100%, 100% 100%;
    background-size: 0px 8%, 100% 8%;
    transition: background-size 0.2s ease-in-out 0s;
    background-image: linear-gradient(
      120deg
      , rgb(89, 203, 89) 0%, rgb(89, 203, 89) 100%), linear-gradient(
      120deg
      , transparent, transparent);
}


.btn-green img {
  margin-left: 12px;
}

.btn-green:hover {
  color: var(--green-poussee);
  cursor: pointer;
  text-decoration: none;
  background-size: 100% 8%, 100% 8%;
}


.btn-green a {
  color: var(--green-poussee);
}

.btn-green:hover a {
  color: var(--green-poussee);
  text-decoration: none;
}

.btn-black{
  color: #000;
  font-weight: 700;
  text-decoration: none;
    line-height: 2.15;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: 0px 100%, 100% 100%;
    background-size: 0px 8%, 100% 8%;
    transition: background-size 0.2s ease-in-out 0s;
    background-image: linear-gradient(
      120deg
      , rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%), linear-gradient(
      120deg
      , transparent, transparent);
}


.btn-black img {
  margin-left: 12px;
}

.btn-black:hover {
  color: #000;
  cursor: pointer;
  text-decoration: none;
  background-size: 100% 8%, 100% 8%;
}


.btn-black a {
  color: var(--green-poussee);
}

.btn-black:hover a {
  color: var(--green-poussee);
  text-decoration: none;
}

.btn-green-outline {
  background: transparent;
  font-weight: 700;
  color: #fff;
  padding: 10px 25px;
  border: 1px solid #ffc10e;
  border-radius: 10px;
  transition: 0.3s ease all;
}

.btn-green-outline i {
  margin-left: 12px;
}

.btn-green-outline:hover {
  background: var(--yellow-gil);
  color: #fff;
  cursor: pointer;
  letter-spacing: 0.02rem;
  -webkit-box-shadow: 0px 5px 20px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 0px 5px 20px -10px rgba(0, 0, 0, 0.57);
}

.btn-green-outline a {
  color: var(--yellow-gil);
}

.btn-green-outline:hover a {
  color: #fff;
  text-decoration: none;
}

.chega-mais {
  color: #fff;
  font-weight: 700;
  transition: 0.2s all;
  padding-bottom: 6px;
  border-bottom: 2px solid #fff;
}

.chega-mais i {
  padding-left: 12px;
  transition: 0.2s all;
}

.chega-mais:hover {
  text-decoration: none;
  color: #fff;
  border-bottom: 2px solid #fff;
  letter-spacing: 0.03em;
}

.chega-mais:hover i {
  padding-left: 16px;
}

.title-hashtag {
  color: #fff;
  font-size: 24px;
  font-weight: 900;
  line-height: 3rem;
  text-transform: uppercase;
}

.title-content {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 1em;
}

.text-content {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}

/* Section-1 soluções */

.solucoes {
  padding: 100px 0px;
}

.solucoes .sistemas-boxes {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 30px;
}

@media only screen and (max-width: 768px) {
  .solucoes .sistemas-boxes {
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .solucoes .sistemas-boxes .box {
    width: 100% !important;
  }

  .solucoes .sistemas-boxes .box:hover {
    width: 100% !important;
  }

  .solucoes .sistemas-boxes .tipos {
    width: 100% !important;
  }

  .solucoes .sistemas-boxes .tipos:hover {
    width: 100% !important;
  }
}

.solucoes .sistemas-boxes .box {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: content-box;
  height: 379px;
  width: 294px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: column;
  flex-direction: column;
  cursor: pointer;
  transition: 0.2s all;
  position: relative;
  color: #fff;
  z-index: 1;
  align-self: center;
  vertical-align: middle;
}

.solucoes .sistemas-boxes .box a {
  color: #fff;
  text-decoration: none;
}

.solucoes .sistemas-boxes .box .title {
  text-align: center;
  z-index: 1;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 50px;
}

.solucoes .sistemas-boxes .box .text {
  text-align: center; 
  z-index: 1;
  font-size: 16px;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.solucoes .sistemas-boxes .box .sistemas__button {
  z-index: 1;
  margin-top: 40px;
}

.solucoes .sistemas-boxes .box .link i {
  margin-left: 10px;
}

.solucoes .sistemas-boxes .box .overlay-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
  background-color: #000;
  opacity: 0.2;
}


.solucoes .sistemas-boxes .box:hover .overlay-box {
  background-color: var(--green-poussee);
}



.sistemas__button {
  font-weight: 700;
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.2rem;
  padding: 15px 35px;
  cursor: pointer;
  transition: 0.4s;
}

.buscando {
  background: #000;
  color: #fff;
  padding: 30px 15px;
}

.buscando .col-sm {
  text-align: center;
  padding: 0px;
}

.buscando h1 {
  color: var(--green-poussee);
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 1em;
}

.buscando p {
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  margin-bottom: 1em;
  text-decoration: none;
    line-height: 2.15;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: 0px 100%, 100% 100%;
    background-size: 0px 8%, 100% 8%;
    transition: background-size 0.2s ease-in-out 0s;
    background-image: linear-gradient(
      120deg
      , rgb(89, 203, 89) 0%, rgb(89, 203, 89) 100%), linear-gradient(
      120deg
      , transparent, transparent);
}

.buscando p:hover {
  color: var(--green-poussee);
  cursor: pointer;
  text-decoration: none;
  background-size: 100% 8%, 100% 8%;
}


.confiar {
  padding-top: 100px;
  background: url("/assets/img/bg-gradient.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: auto;
  overflow-y: hidden;
  padding: 100px 0;
}

.confiar .row .col-md-12 {
  color: #fff;
  padding: 0vmin 10vmin 5vmin 10vmin;
  z-index: 1;
}

.confiar .row .col-md-12 h2 {
  font-size: 42px;
  font-weight: 700;
  line-height: 3rem;
}

.confiar .row .col-md-4 h4 {
  color: var(--yellow-gil);
  font-size: 42px;
  font-weight: 900;
  line-height: 3rem;
}

.confiar .row .col-md-4 p {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}





@media (max-width: 768px) {
 
  .marcas .row .text-white {
    padding: 10vmin 1vmin 0 1vmin !important;
    text-align: center !important;
  }

  .slick-slide img {
    display: initial !important;
  }

  .varejo .row .text-white {
    padding: 15vmin 5vmin 0vmin 5vmin;
    text-align: center;
  }
}

/* Section-2 marcas */

.marcas  {
  padding-top: 100px;
  padding-bottom: 200px;
  text-align: center;
}

.marcas .montadoras .logo {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: column;
  flex-direction: column;
}

.marcas .montadoras .logo img {
  display: initial !important;
}

.marcas .montadoras {
  width: 850px;
  display: block;
  margin: 0 auto;
  position: relative;
}

@media only screen and (max-width: 1200px) {
  .marcas .montadoras {
    width: 100%;
  }
}

.marcas .montadoras i {
  font-size: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  cursor: pointer;
  color: #727376;
  width: 37px;
  height: 14px;
}

.marcas .montadoras i.fa-chevron-right {
  right: -180px;
  top: 50%;
}

@media only screen and (max-width: 600px) {
  .marcas .montadoras i.fa-chevron-right {
    right: 0;
  }
}


.marcas .montadoras i.fa-chevron-left {
  left: -120px;
  top: 50%;
}

@media only screen and (max-width: 600px) {
  .marcas .montadoras i.left-arrow {
    left: 0;
  }
}

/* we help */
header, section .we-help {
  overflow-x: auto;
}

.we-help {
  background: var(--green-poussee);
  padding: 100px 0px;
}

.we-help .foto-quem img {
  width: 90%;
  margin-top: -180px;
  z-index: 1;
}

/* equipe */

.equipe {
  background: #000;
  color: #fff;
  padding: 100px 0px;
}

.equipe .text-equipe  {
  width: 60%;
  display: grid;
  align-self: center;
}

.equipe .foto-equipe  {
  width: 60%;
  display: grid;
  align-self: center;
}

.equipe .foto-equipe img {
  margin-bottom: 30px;
  transition: 0.3s all;
}

.equipe .foto-equipe img:hover {
  transform: scale(1.1);
}

/* cases */

.cases {
  background: url("/assets/img/banner-cases.png") no-repeat;
  background-position: top;
  background-size: auto;
  color: #fff;
  padding: 100px 0px;
}

.cases .cards {
  padding: 80px 30px 0px 30px;
}

.cases .card-green {
  background: var(--green-poussee);
}

.cases .card-green .card {
  background: var(--green-poussee);
  color: #000;
  border: none;
  padding: 30px;
}

.cases .card-black .card {
  background: #000;
  color: #fff;
  border: none;
  padding: 30px;
}

.cases .card-green .card img {
  width: 15%;
  align-self: center;
}

.cases .card-black .card img {
  width: 15%;
  align-self: center;
}

.cases .card-green .card .card-body hr {
    border-top: 4px solid #000 !important;
}

.cases .card-green .card .card-body .card-title {
  text-transform: uppercase;
  text-decoration: none;
  font-style: normal;
}

.cases .card-black .card .card-body .card-title {
  text-transform: uppercase;
  text-decoration: none;
  font-style: normal;
}

.cases .card-green .card .card-body .enfase {
  font-size: 36px;
  font-weight: 700;
}

.cases .card-black .card .card-body .enfase {
  font-size: 36px;
  font-weight: 700;
}

/* conquistas */

.conquistas {
  padding: 100px 0px;
}

.conquistas .data-title {
  color: var(--green-poussee);
  font-weight: 700;
}

.conquistas p {
  padding-right: 40px;
}

/* seja */

.seja {
  background: #000;
  color: #fff;
  padding: 50px 0;
}

.seja .notebook img {
  width: 100%;
  margin-top: -200px;
  z-index: 1;
}

/* texts */

.home-title{
  font-size: 36px;
  font-weight: 700;
  line-height: 3rem;
}

.text-white {
  color: #fff;
  padding: 10vmin 0;
}

.text-white h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 3rem;
}

.text-white h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 3rem;
}

.text-white p {
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
  text-decoration: none;
}

.title-form {
  color: var(--purple-gil);
  padding: 10vmin 0;
}

.title-form h2 {
  font-size: 36px;
  font-weight: 500;
  line-height: 3rem;
}

.title-form h3 {
  color: var(--yellow-gil);
  font-size: 20px;
  font-weight: 700;
  line-height: 3rem;
}

.title-form p {
  color: var(--yellow-gil);
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
  text-decoration: none;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: var(--purple-gil) !important;
}

/* Section-2 produtos */

.produtos {
  background-color: #f2f2f2;
  background-size: cover;
  background-position: center;
  padding: 100px 0;
}

.produtos .card {
  background: transparent;
  border: 1px solid var(--purple-gil);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 5px;
}

.card-title {
  font-style: italic;
  font-weight: 700;
}

/* -------------------- */

/* Section-2 produtos */

.vantagens {
  background: url("/assets/img/bg-gradient.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: auto;
  overflow-y: hidden;
  padding: 100px 0;
}

.features {
  padding-left: 16em;
  padding-right: 8em;
}

.vantagens .features ul li {
  color: #fff;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}

.vantagens .features {
  padding-left: 16em;
}

.vantagens .features ul li {
  margin-bottom: 5px;
}

@media only screen and (max-width: 768px) {
  .vantagens .features {
    padding: 0 1em;
  }

  .features {
    padding: 0 1em;
  }
}

.players {
  padding: 0 15em;
}

@media only screen and (max-width: 768px) {
  .players {
    padding: initial;
  }
}

/* Section trabalhe */

.trabalhe {
  background-color: #acacac;
  background-image: url("../img/trabalhe-roge.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  width: 100%;
  height: 90vh;
  position: relative;
}

.trabalhe .row .text-blue {
  padding: 15vmin 10vmin 10vmin 10vmin;
}

.trabalhe .text-blue {
  color: #00377b;
}

.trabalhe .text-blue h2 {
  font-size: 42px;
  font-weight: 900;
  line-height: 3rem;
  text-transform: uppercase;
}

.trabalhe .text-blue h3 {
  color: #0099ff;
  font-size: 24px;
  font-weight: 900;
  line-height: 2rem;
  text-transform: uppercase;
}

.trabalhe .text-blue p {
  color: var(--light-black);
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
  text-decoration: none;
}

.trabalhe .text-blue a {
  color: var(--light-black);
  border-color: var(--light-black);
}

@media only screen and (max-width: 768px) {
  .fundacao {
    height: auto;
  }

  .fundacao .row .text-white {
    padding: 5vmin 5vmin;
    text-align: center;
  }

  .trabalhe {
    background-position: right;
  }

  .trabalhe .row .text-blue {
    text-align: center;
  }
}

.forms {
  padding: 10vmin 0;
}

/* Section-2 fazemos */

.fazemos {
  background-size: cover;
  background-position: auto;
  width: 100%;
  height: auto;
  padding: 10vmin 0;
}

.fazemos .row .text-white {
  padding: 0vmin 0vmin 5vmin 0vmin;
}

.fazemos .row .logomarcas {
  padding: 0vmin 25vmin;
}

.fazemos .text-white h2 {
  font-size: 24px;
  font-weight: 900;
  line-height: 3rem;
  text-transform: uppercase;
}

.fazemos h3 {
  color: var(--purple-gil);
  font-size: 42px;
  font-weight: 500;
  line-height: 3rem;
}

.text-yellow {
  color: var(--yellow-gil);
}

.text-purple {
  color: var(--purple-gil);
  font-size: 24px;
  font-weight: 500;
  line-height: 2rem;
}

.fazemos p {
  color: var(--purple-gil);
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
  text-decoration: none;
}

.fazemos img {
  border-radius: 8px;
  transition: all ease 0.4s;
  margin: 2em;
}

.fazemos img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.fazemos .card {
  border: 0px solid transparent;
}

@media only screen and (max-width: 768px) {
  .fazemos .processo img {
    width: 80vw;
  }
}

/* Social */

.social {
  background-color: var(--light-black);
  color: #fff;
  align-items: center;
  text-decoration: none;
  overflow-y: hidden;
}

.social .row .brand {
  text-align: left;
}

.social .row .siga {
  text-align: left;
  align-self: center;
}

.botoes {
  margin-bottom: 0px;
}

.botoes button {
  background: transparent;
  border-right: 1px solid #0c0c0c;
  padding: 20px 25px;
  text-decoration: none;
}

.botoes button:hover {
  background: #0c0c0c;
  border-right: 1px solid #0c0c0c;
  cursor: pointer;
}

.botoes li:first-child {
  border-left: 1px solid #0c0c0c;
  margin-left: 8px;
}

.list-inline-item:not(:last-child) {
  margin-right: 0px !important;
}

.social i {
  align-items: center;
  padding-right: 6px;
}

/* Forms */

.forms input {
  border-bottom: 1px solid var(--purple-gil);
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-radius: initial;
}

.forms textarea {
  border-bottom: 1px solid var(--purple-gil);
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-radius: initial;
}

/* Footer */

.footer {
  background: #fff;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  color: #000;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer p a {
  color: #000;
  text-decoration: none;
}

.footer-size {
  padding: 0 15%;
}

.footer-icons {
  width: 100%;
  text-align: center;
}

.footer-icons li {
  cursor: pointer;
    display: inline-block;
    margin: 10px 10px;
}

.btn-cadastrar:hover {
  background: #a7a7a7;
}

.marcasMais {
  display: flex;
  align-items: center;
}

.marcasMais img {
  max-width: 100%;
  display: block;
  width: 170px;
  margin: 0 auto;
}

/* The flip card container */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: transparent;
  color: #fff;
}

/* Style the back side */
.flip-card-back {
  background-color: var(--purple-gil);
  color: var(--yellow-gil);
  transform: rotateY(180deg);
}

.flip-card-back p a {
  text-decoration: none;
  color: #fff;
}
